.explore{
    // margin-top: -10%;
    margin-bottom: 270px;
    &-main{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 50px;
    }
    &-heading{
        margin-bottom: 20px;
    }
    &-desc{
        margin-bottom: 33px;
    }
    @media screen and (min-width: 1024px){
        &-content{
            margin-top: -88px;
            max-width: 500px;
            padding-right: 67px;
            // transform: translateX(50px);
        }
        &-image{
            transform: translateX(-50px);
        }
    }
    @media screen and (max-width: 1025px){
        &-image{
            img{
                width: 550px;
                transform: translateX(9px);
            }
        }
    }
    @media screen and (max-width: 1023px){
        margin-bottom: 150px;
        &-main{
            flex-direction: column-reverse;
            gap: 50px 0;
            justify-content: center;
        }
    }
    @media screen and (max-width: 378px){
        margin-bottom: 75px;
        &-image{
            img{
                width: 345px;
            }
        }
    }
}